html {
    text-rendering: optimizeLegibility;
}

:root {
    --accent: #1563b8;
    --primary: #fff;
    --secondary: #161618;
    --tertiary: #414143;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('assets/GT-America-Standard.woff2') format('woff2');
}

@font-face {
    font-family: 'GT America Extended B';
    src: url('assets/GT-America-Extended.woff2') format('woff2');
}

@font-face {
    font-family: 'Sectra';
    src: url('assets/Sectra.woff2') format('woff2');
}

::selection {
    background-color: var(--accent);
    color: var(--primary);
}

body {
    height: 100%;
    color: #000;
    font: 100% / 1.45 'GT America Extended';
    margin: 0;
    background: linear-gradient(90deg, transparent, transparent 17.5%, var(--tertiary) calc(17.5% + 2.5px), transparent calc(17.5% + 2.5px));
}

a {
    color: inherit;
}

.selectedpage {
    cursor: default;
    color: var(--accent);
    user-select: none;
}

.noboxshadow {
    box-shadow: none !important;
}

.navbar {
    font-weight: 900;
    font-family: 'GT America Extended B';
    color: var(--primary);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    padding: 10px 1rem 10px 1rem;
    background: var(--secondary);
    border-bottom: 2px solid var(--tertiary);
    height: 7rem;
    box-sizing: border-box;
    font-size: 1rem;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    box-shadow: 0 5px var(--accent);
    transition: 0.2s;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    float: right;
    align-items: center;
}

.navbar li{
    padding-right: 20px;
}

.header {
    display: flex;
    float: left;
    align-items: center;
    height: 100%;
}

.title {
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    font-size: 1.5rem;
}

.unselectable {
    user-select: none;
}

.uppercase {
    text-transform: uppercase;
}

.font-spectra {
    font-family: 'Sectra';
}

.summary {
    color: var(--primary);
    padding: 12rem 5rem 6rem 5rem;
    background: url(assets/background.png);
    background-color: var(--secondary);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 75% calc(100% - 7rem);
    font-family: 'GT America Extended B';
    border-bottom: 2px solid var(--tertiary);
}

.main {
    margin: 2rem 7rem 2rem calc(17.5% + 2rem);
    padding: 0px;
}

.main h2 {
    font-size: 2.25rem;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.summary p, .summary h1, .summary h2 {
    margin: 0;
}

.summary h1 {
    font-size: 2.75rem;
}

.titlechild {
    color: var(--accent);
}

h2, h3 {
    font-family: Sectra;
    line-height: 42px;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

h3 {
    font-size: 1.75rem;
    text-decoration: underline;
}

b {
    font-family: 'GT America Extended B';
}