html {
    text-rendering: optimizeLegibility;
}

:root{
    --accent: #1563b8;
    --primary: #fff;
    --secondary: #161618;
    --tertiary: #414143;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('assets/GT-America-Extended-light.woff2') format('woff2');
}

@font-face {
    font-family: 'GT America Extended B';
    src: url('assets/GT-America-Extended.woff2') format('woff2');
}

@font-face {
    font-family: 'Sectra';
    src: url('assets/Sectra.woff2') format('woff2');
}

::selection {
    background-color: var(--accent);
    color: var(--primary);
}

body {
    background: var(--primary);
    background-position: 50%;
    color: #000;
    font: 100% / 1.45 'GT America Extended';
    margin: 0;
}

a {
    color: inherit;
}

.selectedpage {
    cursor: default;
    color: var(--accent);
    user-select: none;
}


.navbar {
    font-weight: 900;
    font-family: 'GT America Extended B';
    color: var(--primary);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    padding: 10px 1rem 10px 1rem;
    background: var(--secondary);
    border-bottom: 1px solid var(--tertiary);
    height: 7rem;
    box-sizing: border-box;
    font-size: 1rem;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    box-shadow: 0 5px var(--accent);
    transition: 0.2s;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    float: right;
    align-items: center;
}

.navbar li{
    padding-right: 20px;
}

.header {
    display: flex;
    float: left;
    align-items: center;
    height: 100%;
}

.title {
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    font-size: 1.5rem;
    user-select: none;
}

.summary {
    margin: 8rem 0 0 0;
    padding: 0px 8px 0px 8px;
}

.main {
    border-top: 1px solid var(--tertiary);
    box-sizing: border-box;
}

p {
    font-size: 16px;
    line-height: 24px;
}
